# editorconfig.org
root = true

[*]

indent_style = space # identar com espaço
indent_size = 2 # use dois espaços
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false #  inserir uma nova linha no final
